@media screen and (min-width: 768px) {
  /*-----MAIN------*/
  .main {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  /*  SECCION 1  */
  .section-left {
    width: 70%;
  }

  .section-left__textarea {
    min-height: 50vw;
  }

  .btn-container {
    padding: 0 1rem;
    flex-direction: row;
    align-items: center;
  }

  /*  SECCION 2  */
  .section-right {
    width: 35%;
  }

  .section-right__container {
    height: 27rem;
  }

  /*-----FOOTER------*/
  .footer {
    bottom: -2.3rem;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }

  .footer__wave {
    top: -200%;
  }
}

@media screen and (min-width: 1024px) {
  /*  SECCION 1  */
  .section-left {
    width: 70%;
  }

  .section-left__textarea {
    min-height: 40vw;
  }

  /*  SECCION 2  */
  .section-right {
    width: 35%;
  }

  .section-right__container {
    height: 100%;
  }

  /*-----FOOTER------*/
  .footer {
    width: 100%;
    bottom: 0;
    background-color: transparent;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }

  .footer__wave {
    bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 18px;
  }

  /*  SECCION 1  */
  .section-left__textarea {
    min-height: 30vw;
    font-size: 1.7rem;
  }

  .warnning {
    margin-left: 3rem;
    color: var(--sec-color);
  }

  /*  SECCION 2  */
  .section-right {
    width: 30%;
  }

  /*-----FOOTER------*/
  .footer {
    background-color: var(--pri-color);
  }
  .footer__wave {
    top: -350%;
  }
}

@media screen and (min-width: 1440px) {
  /*  SECCION 1  */
  .section-left {
    width: 60%;
  }

  .warnning {
    margin-left: 7rem;
  }

  /*  SECCION 2  */
  .section-right {
    width: 25%;
  }
}

@media screen and (min-width: 1920px) {
  /*  SECCION 1  */
  .section-left {
    width: 60%;
  }

  .warnning {
    margin-left: 1rem;
    padding: 1rem;
    color: var(--letter-color);
  }

  .btn-container {
    gap: 1.3rem;
  }

  /*  SECCION 2  */
  .section-right__container {
    height: 70vh;
    padding: 1.5rem;
    justify-content: space-between;
  }

  /*-----FOOTER------*/
  .footer {
    background-color: transparent;
    bottom: -0.5rem;
  }
}
