*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #F3F5FC;
    --pri-color: #0A3871;
    --sec-color: #E5E5E5;
    --letter-color: #495057;
    --letter-color-st: #343A40;
    --sombra: 0px 24px 32px -8px rgba(0, 0, 0, 0.29);
}

html{
    height: 100%;
}

.contenedor{
    width: 100%;
    min-height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    background-color: var(--bg-color);
    overflow: hidden;
    display: grid;
    gap: 10px;
    grid-template:
    "header main" auto
    "footer footer" 5% /
    10%     auto;
}

.header{
    grid-area: header;
}

.logo{
    position: relative;
    left: 40%;
    top: 5%;
}

.main{
    grid-area: main;
    display: flex;
}

.boton{
    width: 30%;
    padding: 22px 0;
    border-radius: 25px;
    margin: 10px;
    font-size: 1rem;
    box-shadow: var(--sombra);
    cursor: pointer;
}

.boton:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in;
}

textarea{
    font-family: inherit;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

/*  SECCION 1  */
.seccion-left{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.caja-txt_left{
    position: relative;
    top: 15%;
    width: 80%;
    height: 50%;
    font-size: 2rem;
    color: var(--pri-color);
}

.caja-txt_left::placeholder{
    color: var(--pri-color);
}

.btn-encriptar{
    background-color: var(--pri-color);
    color: var(--sec-color);
    border: 2px solid var(--sec-color);
    
}

.btn-desencriptar{
    background-color: var(--sec-color);
    color:var(--pri-color);
    border: 2px solid var(--sec-color);
}

.advertencia{
    display: flex;
    align-items: baseline;
    color: var(--sec-color);
    margin: 15px 10px;
}

.advertencia>h6{
    font-size: 12px;
    margin-left: 10px;
}

/*  SECCION 2  */
.seccion-right{
    width: 30%;
    height: 100%;
}

.sec2-container{
    position: relative;
    top: 5%;
    left: 5%;
    width: 80%;
    height: 95%;
    background-color: #FFFFFF;
    box-shadow: var(--sombra);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aside-img{
    width: 95%;
}

.sec2-container>p{
    width: 80%;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--letter-color-st);
    margin-bottom: 0.7rem;
}

.caja-txt_right{
    width: 80%;
    height: auto;
    font-size: 1.5rem;
    color: var(--letter-color);
}

.caja-txt_right::placeholder{
    font-size: 1rem;
    color: var(--letter-color);
    text-align: center;
}

.btn-copiar{
    position: relative;
    bottom: -10%;
    width: 75%;
    background-color: var(--sec-color);
    color:var(--pri-color);
    border: 1.5px solid var(--pri-color);
}

.agrandar{
    position: relative;
    height: 50%;
    top: -10%;
}

.oculto{
    display: none;
}

/*  FOOTER  */
.footer{
    grid-area: footer;
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: var(--sec-color);
}

.footer>a{
    color: var(--sec-color);
}

.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}